{{yield}}
{{polaris-callout-card
  title=@metadata.name
  text=this.get_desc 
  primaryAction=(hash
    text="Save ShareX Config"
    onAction=(action "saveconfig")
  )
  secondaryAction=(hash
    text="Delete ShareX Config"
    onAction=(action "toggle_delete")
  )
}}
{{#if this.delete_confirm_open}}
    {{#modal-dialog
      onClose=(action "toggle_delete")
      targetAttachment="center"
      translucentOverlay=true
      animatable=false
    }}
        {{#polaris-card title="Delete Config" as |card|}}
            {{#if this.delete_error}}
                {{polaris-banner text=this.delete_error status="critical" icon="CircleAlertMajor"}}
            {{/if}}
            {{#if this.delete_success}}
                {{polaris-banner text=this.delete_success status="success" icon="CircleAlertMajor"}}
            {{/if}}
            {{#card.section}}
            <p>Are you sure you want to delete this config? THIS ACTION IS IRREVERSIBLE</p>
            {{/card.section}}
            {{#polaris-button onClick=(action "delete_config") loading=this.delete_loading}}
                Confirm Delete
            {{/polaris-button}}
        {{/polaris-card}}
    {{/modal-dialog}}
{{/if}}